{%extends 'base.html'%}
{% block body %}
<link rel="stylesheet" href="{{static_url('dist/css/main.css')}}" type="text/css">
<div class="slide">
    <ul>
        <li>
            <div class="slide-left">
                <img src="http://s9.51cto.com/wyfs02/M02/71/62/wKiom1XNRx3zVzzWAAH8gG_dWpI710.jpg" width="400" height="250" class="img-rounded">
            </div>
            <div class="slide-right">
                <h1><a href="/">并发之痛 THREAD，GOROUTINE</a></h1>
                <p class="text-left">一来到澳门，就会发现这是一座名副其实的赌城，在这30多平方公里的弹丸之地上，遍布着十几家大型赌场，在码头、海关、机场外面的停车场上，一辆辆由各家赌场经营的等待着乘客的免费巴士排起了长龙，很多来澳门的游客除了会花些时间光顾一下澳门的几个标志性景点“大三巴牌坊” “妈阁庙”以外，剩余的时间都会一头钻进各个赌各个赌各个赌各个赌各个赌各个赌各个赌各个赌各个赌</p>
            </div>
        </li>
        <li>
            <div class="slide-left">
                <a href="/">
                    <img src="http://s9.51cto.com/wyfs02/M02/71/62/wKiom1XNRx3zVzzWAAH8gG_dWpI710.jpg" width="400" height="250" class="img-rounded">
                </a>
            </div>
            <div class="slide-right">
                <h1><a href="/">并发之痛 THREAD，GOROUTINE</a></h1>
                <p class="text-left">一来到澳门，就会发现这是一座名副其实的赌城，在这30多平方公里的弹丸之地上，遍布着十几家大型赌场，在码头、海关、机场外面的停车场上，一辆辆由各家赌场经营的等待着乘客的免费巴士排起了长龙，很多来澳门的游客除了会花些时间光顾一下澳门的几个标志性景点“大三巴牌坊” “妈阁庙”以外，剩余的时间都会一头钻进各个赌各个赌各个赌各个赌各个赌各个赌各个赌各个赌各个赌</p>
            </div>
        </li>
    </ul>
    <a href="#" class="unslider-arrow prev"><i class="glyphicon glyphicon-menu-left"></i></a>
    <a href="#" class="unslider-arrow next"><i class="glyphicon glyphicon-menu-right"></i></a>
</div>
<center>
<div class="main clearfix">
    <div id="cates" class="clearfix" data-hl="all">
        <ul>
            <li><a name="all" href="/">所有</a></li>
            <li><a name="Android" href="/">Android</a></li>
            <li><a name="Django" href="/">Django</a></li>
            <li><a name="HTTP" href="/">HTTP</a></li>
            <li><a name="iOS" href="/">iOS</a></li>
            <li><a name="JavaScript" href="/">JavaScript</a></li>
        </ul>
    </div>

    <div class="bloglist clearfix">
        <ul>
            <li>
                <div class="blog-img">
                    <img src="http://s9.51cto.com/wyfs02/M02/71/62/wKiom1XNRx3zVzzWAAH8gG_dWpI710.jpg" width="320" height="200">
                </div>
                <h4 class="blog-title text-left">
                    <a href="/">可以免费自学编程的12个网站</a>
                </h4>
                <div class="blog-content">
                <p class="text-left">--小学生作文的开头：光阴似箭，日月如梭.....半年过去了
                    ，床底下又多了不少书，更新一个2.0版。 自从技术书的书架
                    设定为”床底下“之后，又多了很多买书的空间。中国什么都贵，
                    就是书便宜。 没有全部看完，看一部分觉得值得推荐就放上来了，
                    但在碎片化的阅读下难免错评，不定期更新修正。 书架主要针对J
                    ava后端开发。 更偏爱那些能用简短流畅的话，把少壮不努力的程序
                    员所需的基础补回来的薄</p></div>
            </li>
            <li>
                <h4 class="blog-title text-left"><a href="/">可以免费自学编程的12个网站</a></h4>
                <div class="blog-content">
                <p class="text-left">--小学生作文的开头：光阴似箭，日月如梭.....半年过去了
                    ，床底下又多了不少书，更新一个2.0版。 自从技术书的书架
                    设定为”床底下“之后，又多了很多买书的空间。中国什么都贵，
                    就是书便宜。 没有全部看完，看一部分觉得值得推荐就放上来了，
                    但在碎片化的阅读下难免错评，不定期更新修正。 书架主要针对J
                    ava后端开发。 更偏爱那些能用简短流畅的话，把少壮不努力的程序
                    员所需的基础补回来的薄</p></div>
            </li>
            <li>
                <div class="blog-img">
                    <img src="http://s9.51cto.com/wyfs02/M02/71/62/wKiom1XNRx3zVzzWAAH8gG_dWpI710.jpg" width="320" height="200">
                </div>
                <h4 class="blog-title text-left"><a href="/">可以免费自学编程的12个网站</a></h4>
                <div class="blog-content">
                <p class="text-left">--小学生作文的开头：光阴似箭，日月如梭.....半年过去了
                    ，床底下又多了不少书，更新一个2.0版。 自从技术书的书架
                    设定为”床底下“之后，又多了很多买书的空间。中国什么都贵，
                    就是书便宜。 没有全部看完，看一部分觉得值得推荐就放上来了，
                    但在碎片化的阅读下难免错评，不定期更新修正。 书架主要针对J
                    ava后端开发。 更偏爱那些能用简短流畅的话，把少壮不努力的程序
                    员所需的基础补回来的薄</p></div>
            </li>
            <li>
                <div class="blog-img">
                    <img src="http://s9.51cto.com/wyfs02/M02/71/62/wKiom1XNRx3zVzzWAAH8gG_dWpI710.jpg" width="320" height="200">
                </div>
                <h4 class="blog-title text-left"><a href="/">可以免费自学编程的12个网站</a></h4>
                <div class="blog-content">
                <p class="text-left">--小学生作文的开头：光阴似箭，日月如梭.....半年过去了
                    ，床底下又多了不少书，更新一个2.0版。 自从技术书的书架
                    设定为”床底下“之后，又多了很多买书的空间。中国什么都贵，
                    就是书便宜。 没有全部看完，看一部分觉得值得推荐就放上来了，
                    但在碎片化的阅读下难免错评，不定期更新修正。 书架主要针对J
                    ava后端开发。 更偏爱那些能用简短流畅的话，把少壮不努力的程序
                    员所需的基础补回来的薄</p></div>
            </li>
        </ul>
    </div>
</div>
</center>
<script type="text/javascript" src="{{static_url('dist/js/main.min.js')}}"></script>
{% end %}