{% extends "sys.html" %}

{% block content %}
<div class="content-form col-md-12">
    {% if obj %}
    <!-- 回溯列表 -->
    <div class="form-group col-md-12">
        {% for ob in objb %}
            <div class="alert alert-info" role="alert">
                修改时间: {{ ob.last_modify_time }}
                <form action="/sys/obj/back" method="post" class="pull-right">
                    <button type="submit" class="btn btn-warning btn-xs pull-right margin-left-20">回溯</button>
                    <input type="hidden" class="form-control" name="object_id" value="{{obj.id}}">
                    <input type="hidden" class="form-control" name="id" value="{{ob.id}}">
                    {% raw xsrf_form_html() %}
                </form>
                <a href="/assets/s/{{obj.id}}/index_{{ ob.id }}.html" target="_blank" class="btn btn-primary btn-xs pull-right margin-left-20">查看</a>
            </div>
        {% end %}
    </div>
    <!-- 回溯列表 end -->
    {% end %}
    <form id="objform" action="/sys/obj/edit" id="addobjForm" method="post">
        <div class="form-group col-md-6">
            <label for="object-name">专题名称</label>
            {% if obj %}
                <input type="text" class="form-control" name="name" required value="{{ obj.name }}">
            {% else %}
                <input type="text" class="form-control" name="name" required>
            {% end %}
        </div>
        <div class="form-group col-md-6">
            <label for="object-des">描述</label>
            {% if obj %}
                <input type="text" class="form-control" name="des" required value="{{ obj.des }}">
            {% else %}
                <input type="text" class="form-control" name="des" required>
            {% end %}
        </div>
        {% if obj %}
            <!-- code editor -->
            <div class="form-group col-md-12">
            <article></article>
            </div>
            <input id="htmltxt" name="html" type="hidden" class="form-control" value="{{ htmltxt }}">
            <!-- code editor end -->
            <input name="user_id" type="hidden" class="form-control" value="{{ obj.user_id }}">
            <input id="oid" name="id" type="hidden" class="form-control" value="{{ obj.id }}">
        {% end %}
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-info">提交</button>
        </div>
        <link rel="stylesheet" href="{{ static_url('sys/codemirror.css') }}">
        <link rel="stylesheet" href="{{ static_url('sys/monokai.css') }}">
        <script src="{{ static_url('sys/codemirror.js') }}"></script>
        <script src="{{ static_url('sys/sublime.js') }}"></script>
        <script>
            $(document).ready(function (e){
                var _html = "";
                if($("#htmltxt").attr("value") !== undefined){
                    _html = $("#htmltxt").attr("value")
                }
                var editor = CodeMirror(document.body.getElementsByTagName("article")[0], {
                    value: _html,
                    lineNumbers: true,
                    mode: "text/html",
                    keyMap: "sublime",
                    theme: "monokai",
                    tabSize: 4
                });
                $("#objform").submit(function (e){
                    $("#htmltxt").attr("value", editor.getValue());
                    return true;
                });
            });
        </script>
        {% raw xsrf_form_html() %}
    </form>
</div>
<script>
$(document).ready(function (){
    $("#sels ul").on("click", "li", function (e) {
        $("#category_id").attr("value", $(this).attr("data-id"));
    });
});
</script>
{% end %}