{% extends "base.html" %}

{% block sys %}
    <div class="header clearfix">
        <a href="/sys/signout" role="button" class="btn btn-small btn-primary pull-right margin-left-20">退出</a>
        <span class="btn btn-small pull-right">{{ u['name'] }}</span>
    </div>
    <div class="main clearfix">
        <div class="menu col-lg-2">
            <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                {% if hl == 'list-object' %}
                  <li role="presentation" class="active"><a href="/sys/obj">专题列表</a></li>
                {% else %}
                  <li role="presentation"><a href="/sys/obj">专题列表</a></li>
                {% end %}
                {% if int(u['role']) > 10 %}
                    {% if hl == 'new-object' %}
                    <li role="presentation" class="active"><a href="/sys/obj/new">新建专题</a></li>
                    {% else %}
                    <li role="presentation"><a href="/sys/obj/new">新建专题</a></li>
                    {% end %}
                    {% if hl == 'list-user' %}
                    <li role="presentation" class="active"><a href="/sys/user">用户列表</a></li>
                    {% else %}
                    <li role="presentation"><a href="/sys/user">用户列表</a></li>
                    {% end %}
                    {% if hl == 'new-user' %}
                    <li role="presentation" class="active"><a href="/sys/user/new">新建用户</a></li>
                    {% else %}
                    <li role="presentation"><a href="/sys/user/new">新建用户</a></li>
                    {% end %}
                {% end %}
            </ul>
        </div>
        <div class="content col-lg-10">
            {% block content %}{% end %}
        </div>
    </div>
{% end %}