<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>System Dashboard</title>

	<link rel="stylesheet" href="{{static_url('dist/css/sys.css')}}">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="{{static_url('dist/lib/wangEditor.min.css')}}" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" />

	<script src="http://cdn.bootcss.com/react/0.13.3/react.min.js"></script>
	<script src="http://cdn.bootcss.com/react-router/0.13.3/ReactRouter.min.js"></script>
	<script src="http://cdn.bootcss.com/react/0.13.3/JSXTransformer.js"></script>
</head>
<body>
	<script type="text/jsx" src="{{static_url('dist/lib/sys.jsx')}}"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{static_url('dist/lib/wangEditor.min.js')}}"></script>
    <script src="{{static_url('dist/js/base.min.js')}}"></script>
    <script src="{{static_url('dist/js/sys.min.js')}}"></script>
</body>
</html>